form {
    background-color: #E6E6E3;
    margin-left: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}
  
  .main-text {
    text-align: center;
    padding: 30px;
  }
  
  .textfield-margin {
    margin: 1.5em 3em;
  }
  
  .button-area-view{
    margin: 1.5em 3em;
    width: 50%;
    display: flex;
    justify-content: space-between;
  }